/* all */

.button {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  cursor: pointer;
}


/* index */

.hotel-search__button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  width: 284px;
  height: 58px;
  margin-bottom: 49px;
  text-align: center;
  align-content: center;
}

/* form */

.feedback__button {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  width: 280px;
  height: 58px;
  margin-top: 44px;
  margin-left: 20px;
}

/* modal */

.button--error {
  width: 180px;
  height: 58px;
  margin-left: 70px;
  text-transform: uppercase;
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.button--success {
  width: 280px;
  height: 58px;
  background-color: rgba(129, 179, 210, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
