.feedback__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.feedback__textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin-left: 5px;
  padding-left: 8px;
  padding-bottom: 15px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(0, 0, 0, 1);
}

.feedback__textarea::placeholder {
  padding-top: 13px;
  padding-left: 11px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.feedback__legend {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding-top: 2px;
  padding-left: 142px;
  color: rgba(51, 51, 51, 0.6);
  margin-bottom: 21px;
}
