.modal-container {
  font-family: "PT Sans", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.modal {
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal--error .modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 25px;
}

.modal--error .modal__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 56px 28px;
}

.modal--error .modal__button {
  margin-bottom: 35px;
}

.modal__button-wrapper {
  background-color: rgba(242, 242, 242, 1);
}

.modal--success .modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-top: 39px;
  padding-bottom: 25px;
}

.modal--success .modal__description {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0 35px 50px;
}

.modal--success .modal__button {
  margin: 20px;
}
